.home{
    margin-top: 2rem;
    padding: clamp(0.5rem, 1vw, 2rem);
    position: absolute;
    z-index: 1;
    width: 90%;
}

.threejsLogo{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    margin-bottom: 0.2rem;
}

.headText{
    margin: 0;
    font-size: clamp(2rem, 2.6vw, 5rem);
}

.createButton{
    padding: clamp(0.8rem, 0.5vw, 2rem);
    font-weight: bold;
    border-radius: 10px;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
    background-color: chocolate;
    color: black;
}

.description{
    color: rgb(33, 33, 33);
    font-size: clamp(1.5rem, 2.3vw, 5rem);
}

@media (min-width: 1261px){
    .home{
        width: 40%;
    }
}

@media (max-width: 425px){
    .headText{
        font-size: clamp(1.5rem, 3.5vh, 5rem);
    }
    .createButton{
        padding: clamp(0.4rem, 1vh, 2rem);
        font-size: clamp(0.9rem, 2vh, 2rem);
    }
    .description{
        font-size: clamp(1.1rem, 2.4vh, 5rem);
    }
}

@media (orientation: landscape) and (max-height: 350px) {
    .headText{
        font-size: clamp(1.4rem, 3.5vh, 5rem);
    }
    .threejsLogo{
        width: 1.5rem;
        height: 1.5rem;
    }
    .createButton{
        padding: clamp(0.4rem, 1vh, 2rem);
        font-size: clamp(0.9rem, 2vh, 2rem);
    }
    .description{
        font-size: clamp(1.2rem, 2.4vh, 5rem);
    }
}