.customTab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: clamp(5em, 8em, 10em);
    background-color: rgba(255,255,255,0.2);
    border-radius: 10%;
    padding: 0.5rem;
    transition: padding 0.2s ease-in-out;
}

.customTab:hover{
    padding: 2rem 1rem;
}

.customTab .tab{
    cursor: pointer;
    margin: 1rem 0;
    transition: scale 0.2s ease-in-out;
}

.customTab .tab:hover{
    scale: 1.5;
}

.tab img{
    width: 3rem;
    height: 3rem;
}

.colorPickerContainer{
    height: fit-content;
    width: auto;
}